$font-stack: 'Roboto', sans-serif;

$primary-color: #4DA1FF;
//$secondary-color: ;#3F95FF
$brand-color: #04DFD0;
$tertiary-color: #3F95FF;

$light-blue: #04DFD0;
$white: #FFFFFF;
$white2: #FBFBFD;
$black: #222222;
$black2: #4F5761;
$grey: #B4B8BC80;
$grey2: #A5A7AB;
$error: #EF3737;
