.modalForm {
    margin-bottom: 70px;
    z-index: 100;

    input {
        opacity: .7;
        padding-left: 10px;
        margin-bottom: 20px;
        //margin-top: 10px;
    }

    .button {
        float: right;
        width: 142px;
    }
}